{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        org.clojure/core.async {:mvn/version "1.3.610"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  }}
